@{
    ViewData["Title"] = "Gizlilik Politikamız";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Bu Gizlilik Politikası, kişisel bilgilerinizin nasıl toplandığını, kullanıldığını, paylaşıldığını ve korunduğunu açıklar. Lütfen bu politikayı dikkatlice okuyunuz.

    <p>
        <br /><br /><strong>
            Kişisel Bilgilerin Toplanması
        </strong><br />

        Sitemizi ziyaret ettiğinizde, belirli kişisel bilgileri toplamamız gerekebilir. Bu bilgiler, adınız, e-posta adresiniz, telefon numaranız gibi kimlik bilgilerinizi içerebilir. Bu bilgileri, örneğin bir iletişim formunu doldururken veya bir hesap oluştururken bize sağlayabilirsiniz.

        <br /><br /><strong>
            Kişisel Bilgilerin Kullanımı
        </strong><br />

        Topladığımız kişisel bilgileri aşağıdaki amaçlar için kullanabiliriz:
        <ul>
            <li>
                Sizinle iletişim kurmak ve size bilgi sağlamak
            </li>
            <li>
                Taleplerinizi işlemek ve hizmet sunmak
            </li>
            <li>
                Hesap oluşturmak ve yönetmek
            </li>
            <li>
                İçeriklerimizi ve hizmetlerimizi kişiselleştirmek
            </li>
            <li>
                Sitemizi ve hizmetlerimizi geliştirmek, analiz etmek ve iyileştirmek
            </li>
            <li>
                Yasal yükümlülüklerimizi yerine getirmek
            </li>
            <li>
                Kişisel Bilgilerin Paylaşılması
            </li>
        </ul>

        Kişisel bilgilerinizi, yasaların izin verdiği veya gerektirdiği durumlar dışında üçüncü taraflarla paylaşmamaktayız. Ancak, bazı durumlarda hizmet sağlayıcılarla veya iş ortaklarıyla bilgi paylaşımı yapabiliriz, ancak bu paylaşımlar gizlilik politikalarına tabidir ve bilgilerinizi korumak için gerekli önlemleri alırız.

        <br /><br /><strong>
            Veri Güvenliği
        </strong><br />
        Kişisel bilgilerinizin güvenliğini sağlamak için ticari olarak kabul edilen yöntemleri kullanırız. Ancak, İnternet üzerinden iletilen verilerin tamamen güvenli olmadığını unutmayın. Bu nedenle, verilerinizi gönderirken veya saklarken maksimum dikkati göstermekteyiz, ancak kesin bir güvenlik garantisi veremeyiz.

        <br /><br /><strong>
            Çerezler
        </strong><br />
        Web sitemizde çerezler kullanılabilir. Çerezler, sizin gibi kullanıcıları tanımamıza ve web sitesinin belirli bölümlerini kişiselleştirmemize yardımcı olur. Çerezleri kabul etmek veya reddetmek için tarayıcınızın ayarlarını değiştirebilirsiniz. Ancak, çerezleri devre dışı bırakmanız durumunda web sitemizin bazı özelliklerinin düzgün çalışmayabileceğini lütfen unutmayın.

        <br /><br /><strong>
            Diğer Web Sitelerine Bağlantılar
        </strong><br />
        Web sitemizde diğer web sitelerine bağlantılar bulunabilir. Bu bağlantılar sizi diğer web sitelerine yönlendirebilir. Diğer web sitelerinin gizlilik politikalarından sorumlu değiliz, bu nedenle başka bir web sitesini ziyaret etmeden önce ilgili gizlilik politikasını okumanızı öneririz.

        <br /><br /><strong>
            Gizlilik Politikası Değişiklikleri
        </strong><br />
        Bu Gizlilik Politikası zaman zaman güncellenebilir. Herhangi bir değişiklik olduğunda, bu sayfada güncel bir sürüm yayınlayarak sizi bilgilendireceğiz. Bu sayfayı düzenli olarak kontrol etmenizi öneririz.

        <br /><br /><strong>
            İletişim
        </strong><br />
        Gizlilik politikamızla ilgili herhangi bir sorunuz veya endişeniz varsa, lütfen bizimle iletişime geçmekten çekinmeyin.
    </p>

</div>