@model ProductListViewModel

<h2>Product List</h2>

<table class="table table-responsive">
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><a class="btn btn-sm btn-success" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@product.Id">Sepete Ekle</a></td>
        </tr>
    }
</table>